*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

a{
    all: unset;
    cursor: pointer;
}

.inner{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 60px;
    position: pixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.sns-container{
    text-align: center;
}

.sns-container  .fa-brands{
    padding: 0 0.5rem 0 0.5rem;
}

.site-container{
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Do Hyeon';
    font-weight: 100;
}

.main-picture{
    width: 100%;
    height: 400px;
    max-height: 400px;
    background-image: url("images/main-image.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.picture-container{
    /*사진을 설정하기 위한 삽질*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;


    /*제목 설정*/
    line-height: 400px;
    text-align: center;
    font-size: 8rem;
    font-family: 'Vina Sans';
    text-shadow: 7px 7px 7px black;
}

.title-message{
    width: 100%;
    margin: 50px auto 50px auto;
}

.title-container{
    font-family: 'Do Hyeon';
    text-align: center;
    font-size: 20px;
    border: 5px solid lightgreen;
    padding: 20px;
}

blockquote{
    font-size: 25px;
}

ul{
    height: 100%;
    width: 500px;
    margin: auto;
    text-align: start;
    font-size: 30px;
}


.main-message{
    width: 100%;
    height: 200px;
}

.message-container{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Black Han Sans';
    font-weight: 100;
    font-size: 3rem;
    overflow: hidden;
}



.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.monster-container{
    width: 180px;
    height: 450px;
    margin-top: 150px;
    align-items: center;
    margin: 30px;
    transition: 0.5s;
}

.monster-container:hover{
    transform: translate(0px, -10px);
}

.ultra:hover{
    box-shadow: 0px 0px 30px white;
}

.punch:hover{
    box-shadow: 0px 0px 30px rgb(255, 224, 229);
}

.paradise:hover{
    box-shadow: 0px 0px 30px lightgreen;
}

.mango:hover{
    box-shadow: 0px 0px 30px rgb(11, 187, 245);
}

.zero-sugar:hover{
    box-shadow: 0px 0px 30px rgb(0, 127, 169);
}

.sitra:hover{
    box-shadow: 0px 0px 30px yellow;
}

.orange:hover{
    box-shadow: 0px 0px 30px orange;
}

.original:hover{
    box-shadow: 0px 0px 30px green;
}



.rank{
    font-size: 40px;
    text-align: center;
    font-family: 'Vina Sans';
    letter-spacing: 4px;
}

.first{
    color: yellow;
}

.second{
    color: silver;
}

.third{
    color: rgb(205, 127, 50);
}


.the-end{
    font-size: 35px;
    text-align: center;
}

.monster-picture{
    padding: 25px;
}

.monster-text{
    width: 100%;
    height: 16.7%;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Do Hyeon';
    line-height: 30px;
    text-align: center;
}

.warning{
    width: 100%;
    margin: 70px auto 50px auto;
}

.warning-container{
    text-align: center;
    font-size: 20px;
    font-family: "Do Hyeon";
}

footer{
    width: 100%;
    height: 100px;
    background-color: rgba(69, 69, 69, 0.6);
}

.footer-container{
    height: 100px;
    line-height: 50px;
    text-align: center;
    margin: 20px auto 20px auto;
}

@media only screen and (min-width: 1200px){
    .inner{
        max-width: 1200px;
    }
}

@media only screen and (max-width: 689px){
    .picture-container{
        line-height: 150px;
    }
}

@media only screen and (max-width: 721px){
    .message-container{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 500px){
    .message-container{
        font-size: 1.4rem;
    }
}