*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

a{
    all: unset;
}

.inner{
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

header{
    width: 100%;
    height: 60px;
    position: pixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.head-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

.site-container{
    text-align: center;
}

.site-container > .fa-brands{
    padding: 0 0.5rem 0 0.5rem;
}

.language{
    height: 60px;
    line-height: 70px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Black Han Sans';
    font-weight: 100;
}

.main{
    width: 100%;
    height: 400px;
    max-height: 400px;
    background-image: url("images/main-image.png");
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 1;
}

.picture-container{
    /*사진을 설정하기 위한 삽질*/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;


    /*제목 설정*/
    line-height: 400px;
    text-align: center;
    font-size: 8rem;
    font-family: 'Vina Sans';
    text-shadow: 7px 7px 7px black;
}

.main-message{
    width: 100%;
    height: 100px;
}

.message-container{
    width: 100%;
    height: 100%;
    line-height: 100px;
    text-align: center;
    font-family: 'Black Han Sans';
    font-weight: 100;
    font-size: 3rem;
}

@media only screen and (min-width: 1200px){
    .inner{
        max-width: 1200px;
    }
}

@media only screen and (max-width: 687px){
    .picture-container{
        line-height: 150px;
    }
}

@media only screen and (max-width: 721px){
    .message-container{
        font-size: 2rem;
    }
}